@font-face {
	font-family: 'Roboto Condensed';
	src: url('font/RobotoCondensed-Bold.ttf') format('truetype');
	text-rendering: optimizelegibility;
}

body, html {
				margin: 0;
				padding: 0;
				height: 100%;
				overflow: hidden;
				position: relative;
				background-color: #4582C3;
				font-family: 'Roboto Condensed';
			}
			div {
				margin: 0;
				padding: 0;
			}
			p {
				margin: 0;
				padding: 0;
			}
			.absolute {
				position: absolute;
				/*top: 0;
				left: 0;*/
			}
			.fullscreen {
				width: 100%;
				height: 100%;
			}
			.box {
				width: 300px;
				height: 300px;
				left: 50%;
				top: 50%;
				text-align: center;
			}
	.graticule {
	fill: none;
	stroke: #777;
	stroke-opacity: .5;
	stroke-width: .5px;
	}

	.land {
	fill: white;
	stroke: #1B5B5C;
	stroke-width: 0.5;
	opacity: 0.5;
	}

	.boundary {
	fill: none;
	/*stroke: #fff;
	stroke-width: .5px;*/
	}

	.selected {
	fill: #A7CF4B;
	-moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888; 
	opacity: 1;
	}

	#map {
    background-color: #77D2F7;
    box-shadow: 0 0 122px #4444C1 inset;
    overflow:hidden;
    width:480px;height:980px;top:100px;

	}
	#triviaContainer{
		margin-top:100px;
		background-color: #4582C3;
	}

	#gameSpace {
				background:#4582C3;
			}

	#statusBar{width:100%;height:100px;background-image:url(images/header.jpg);background-repeat:no-repeat;}
	#statusBar img{height: 140px; top:10px;}

	#callToAction{width:1450px;height:988px;left:480px;top:100px;color:white;
		text-shadow:0 2px 4px rgba(0,0,0,0.8);font-size: 40px;}
	#callToAction img{
		top:50px;
		left:30%;
		height: 400px ;

	}

	#callToAction .intro{
		font-size: 85px;
		right: 58px;
		top: 100px;display:none;
	}

	#callToAction .paso1 {
		  left:0px;
		  top:479px;
		  width: 1440px;
		  height: 84px;
		  background:#E24243 url(images/paso1.png) 15px 0;
		  background-repeat: no-repeat;
		  box-shadow:0 47px 37px -20px rgba(96,19,23,0.6) inset;
		  border-bottom: 1px solid rgba(96,19,23,0.4);
		  padding: 38px 15px 0 545px;}
	#callToAction .paso2 {
		  left:0px;
		  top:602px;
		  width: 1440px;
		  height: 84px;
		  background:#E1A444 url(images/paso2.png) 15px 0;
		  background-repeat: no-repeat;
		  box-shadow:0 47px 37px -20px rgba(124,86,36,0.8) inset;
		  border-bottom: 1px solid rgba(124,86,36,0.4) ;
		  padding: 38px 15px 0 545px;}
	#callToAction .paso3 {
			left:0px;
			top:725px;
			width: 1440px;
			height: 84px;
			background:#DDD543 url(images/paso3.png) 15px 0;
			background-repeat: no-repeat;
			box-shadow:0 47px 37px -20px rgba(91,86,17,0.8) inset;
			border-bottom: 1px solid rgba(91,86,17,0.4);
			padding: 38px 15px 0 545px;
		}

	#startContainer {
		left:0px;
		top:848px;
		width: 1440px;
		height: 131px;
		background:#A7CF4B;
		background-repeat: no-repeat;
		box-shadow:0 47px 37px -20px rgba(87,114,45,0.8) inset;
		border-bottom: 1px solid rgba(87,114,45,0.4);}

	#startContainer .btn {
		background: #33669A;
		border:2px solid #48A2DA ;
		border-radius: 15px;
		padding: 5px 25px;
		top:25px;
		left:45%;
	}


	#selectSplash{width:1450px;height:988px;left:480px;top:100px;}
	#selectSplash .selecciona{
		width: 600px;
		font-size: 60px;
		color:white;
		text-shadow:0 2px 4px rgba(0,0,0,0.8);
		top:300px;
	}
	#selectSplash .logo{
		display: none;
	}

	#statusBar .hiScore{
		position: absolute;
		top:27px ;
		right:50px ;
		font-size: 42px;
		color: white;
		text-rendering: optimizelegibility;
		text-shadow:0 2px 4px rgba(0,0,0,0.8);
		text-align: right;
		background: url(images/miniStar.png) no-repeat top right;
		background-size:contain;
		padding-right: 60px;
		min-width: 500px;
	}